*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(160deg,rgb(237, 163, 84),rgb(215, 123, 114));
  display: grid;
  place-items: center;
}

.container {
  box-shadow: 0 0 10px rgb(77, 77, 77);
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  width: 400px;
}

.display {
  background-color: rgba(0, 0, 0,.3);
  padding-inline: 2rem;
  padding-block: 4rem;
  display: flex;
  justify-content: flex-end;
}


.digits{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
}

.digits > button {
  padding: 1.5rem;
  cursor: pointer;
  border: 1px solid rgb(225, 133, 133);
  box-shadow: inset 0 0 20px #ff3b05;
  background-color: rgb(242, 149, 120);
  transition: transform .3s ease;
  font-size: 1.2rem;
}

.digits > button:hover {
  transform: scale(1.1);
}

[data-op="clear"] {
  grid-area: 4 / 3 / 4 / 5;
}

.display {
  color: wheat;
  font-size: 1.3rem;
  text-shadow:  0 0 10px black;
}